# Ignore virtual environments
.venv/
venv/
env/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore IDE settings
.idea/

# Ignore model checkpoints (optional)
checkpoints/

# Ignore all frames from video folders
data/sperm_video_01/frames/
data/sperm_video_02/frames/
